@media only screen and (max-width: 800px) {
  :root {
    --title-size: 9vw;
    --text-size: 4vw;
    --pra-size: 3vw;
  }
  button {
    border-radius: 2vw !important;
    -webkit-border-radius: 2vw !important;
    -moz-border-radius: 2vw !important;
    -ms-border-radius: 2vw !important;
    -o-border-radius: 2vw !important;
  }
  header.desktop-menu {
    display: none;
  }
  header.mobile-menu {
    display: flex;
    z-index: 1000;
  }
  header.mobile-menu .logo {
    font-size: 4vw;
  }
  .bar-icon {
    font-size: 5vw;
  }
  .Cut-icon {
    font-size: 6vw;
  }
  header.mobile-menu nav h1 {
    font-size: 5vw;
  }
  header.mobile-menu nav ul li a {
    font-size: 3.5vw;
  }
  /* home */
  section.home {
    height: 80vh;
  }
  section.home .img-box {
    width: 60vw;
    height: 45vh;
  }
  section.home .title-box {
    width: 75vw;
    height: 40vw;
  }
  section.home h3 {
    font-size: 2.5vw;
  }
  section.home h1 {
    font-size: 4.55vw;
  }
  section.home p {
    font-size: 2.3vw;
  }
  section.home button {
    width: 25vw;
    height: 7vh;
    font-size: 3vw;
  }
  /* Services */
  section.services {
    flex-wrap: wrap;
  }
  section.services .title .Hadding {
    font-size: 5vw;
  }
  section.services .title p {
    font-size: 2.4vw;
  }
  section.services div.box {
    width: 50vw;
    height: 24vh;
    flex-direction: column;
    gap: 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 0.8vw rgba(0, 0, 0, 0.15),
      -0.5vw 0 0.8vw rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
  }
  section.services div.box div.icon i {
    font-size: 6.5vw;
  }
  section.services div.box h2 {
    font-size: 4vw;
  }
  section.services div.box a {
    font-size: 2.8vw;
  }
  /* WHy */
  section.why {
    width: 98vw;
    height: 85vh;
  }
  section.why div.image {
    width: 80vw;
  }
  section.why div.image img {
    height: 35vh;
  }
  section.why div.Box {
    width: 80vw;
  }
  section.why div.Box h4 {
    font-size: 3.5vw;
  }
  section.why div.Box h2 {
    font-size: 5.5vw;
  }
  section.why div.Box p {
    font-size: 3vw;
  }
  /* Expericence */
  section.experience {
    height: 59vh;
  }
  section.experience h1 {
    font-size: 5.5vw;
    text-underline-offset: 4.5vw;
  }
  section.experience div.box {
    height: 61vh;
  }
  section.experience .line {
    height: 32vh;
    width: 0.4vw;
    top: 30vw;
  }
  section.experience div.box span {
    width: 45vw;
    font-size: 3.5vw;
  }
  section.experience div.box span:nth-child(odd) {
    right: 21vw;
  }
  section.experience div.box span:nth-child(odd)::after {
    padding: 1vw;
    right: 2.1vw;
  }
  section.experience div.box span:nth-child(even) {
    left: 30vw;
  }
  section.experience div.box span:nth-child(even)::after {
    padding: 1vw;
    left: -6.1vw;
  }
  /* Touch */
  section.touch {
    flex-wrap: wrap-reverse;
    height: 140vh;
  }
  section.touch div.contact_box {
    display: flex;
    flex-direction: column;
  }
  section.touch div.contact_box {
    width: 50vw;
    height: 55vh;
  }
  section.touch div.Form form {
    width: 85vw;
  }
  section.touch div.contact_box .contact_container {
    gap: 4vw;
  }
  section.touch div.contact_box .contact_container .contact_info {
    width: 65vw;
    padding: 2vw 0.5vw;
  }
  section.touch div.contact_box .contact_container .contact_info a {
    width: 45vw;
  }
  section.touch div.contact_box .contact_container .contact_info i {
    padding-right: 4vw;
  }
  section.touch div.Form input,
  section.touch div.Form textarea {
    width: 80vw;
    height: 5.5vh;
    color: var(--title-color);
  }

  section.touch div.Form input::placeholder,
  section.touch div.Form textarea::placeholder {
    font-size: var(--pra-size);
    color: var(--text-color);
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --title-size: 7vw;
    --text-size: 3.5vw;
    --pra-size: 4.2vw;
  }
  header.desktop-menu {
    display: none;
  }
  header.mobile-menu {
    display: flex;
    z-index: 1000;
  }
  button {
    border-radius: 2vw !important;
    -webkit-border-radius: 2vw !important;
    -moz-border-radius: 2vw !important;
    -ms-border-radius: 2vw !important;
    -o-border-radius: 2vw !important;
  }
  /* Home */
  section.home {
    flex-wrap: wrap;
    padding: 0;
    height: 90vh;
  }
  section.home .img-box {
    width: 80vw;
    height: 45vh;
  }
  section.home .title-box {
    width: 80vw;
    height: 75vw;
  }
  section.home h3 {
    font-size: var(--text-size);
    position: relative;
    top: 1.8vh;
  }
  section.home h1 {
    font-size: var(--title-size);
  }
  section.home p {
    font-size: var(--pra-size);
  }
  section.home button {
    width: 40vw;
    padding: 2vw;
    letter-spacing: 0.1vw;
    font-size: var(--pra-size);
  }
  /* Services */
  section.services .title {
    width: 100%;
    height: 12vw;
  }
  section.services .title .Hadding {
    margin-top: 0vw;
    font-size: 8vw;
  }
  section.services .title p {
    font-size: var(--pra-size);
  }
  section.services div.Component {
    display: grid;
    grid-template-columns: auto;
    margin-top: 3vh;
  }
  section.services div.box {
    width: 55vw;
    height: 20vh;
    flex-direction: column;
    box-shadow: 0 0.5vw 0.8vw rgba(0, 0, 0, 0.15),
      -0.5vw 0 0.8vw rgba(0, 0, 0, 0.15);
  }
  section.services div.box div.icon i {
    font-size: 10vw;
  }
  section.services div.box a {
    border-top: 0.3vw solid var(--Gray);
    width: 92%;
    font-size: 3.3vw;
    text-align: center;
    bottom: 2vw;
    padding-top: 2vw;
  }
  section.services div.box h2 {
    font-size: var(--text-size);
  }
  /* WHy */
  section.why {
    width: 98vw;
    height: 70vh;
  }
  section.why div.image {
    width: 80vw;
    height: 26vh;
  }
  section.why div.image img {
    height: 25vh;
  }
  section.why div.Box {
    width: 80vw;
    height: 40vh;
  }
  section.why div.Box h4 {
    font-size: var(--text-size);
    top: 4vw;
  }
  section.why div.Box h2 {
    font-size: var(--title-size);
  }
  section.why div.Box p {
    font-size: var(--pra-size);
  }
  /* Experience */
  section.experience {
    height: 75vh;
  }
  section.experience .line {
    height: 45vh;
    top: 22vh;
  }
  section.experience div.box {
    width: 100%;
    height: 58vh;
  }
  section.experience h1 {
    font-size: var(--title-size);
    background-color: white;
  }
  section.experience div.box span {
    width: 71vw;
    padding: 3vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-size);
  }
  section.experience div.box span:nth-child(odd) {
    right: 39vw;
  }
  section.experience div.box span:nth-child(even) {
    left: 25vw;
  }
  section.experience div.box span:nth-child(even)::after {
    padding: 1.3vw;
    left: 11.5vw;
    top: 4.3vw;
  }
  section.experience div.box span:nth-child(odd) {
    right: 25vw;
  }
  section.experience div.box span:nth-child(odd)::after {
    padding: 1.3vw;
    right: 10.8vw;
    top: 4.3vw;
  }
  section.experience div.box {
    gap: 6vw;
  }
  /* Touch */
  section.touch {
    height: 115vh;
    flex-wrap: wrap-reverse;
  }
  section.touch div.contact_box {
    width: 85vw;
    height: 40vh;
  }
  section.touch div.contact_box .contact_container {
    height: 35vh;
    gap: 6vw;
  }
  section.touch div.contact_box .contact_container .contact_info {
    width: 75vw;
    height: 8vh;
  }
  section.touch div.contact_box .contact_container .contact_info a {
    width: 50vw;
  }
  section.touch div.contact_box h1 span {
    position: relative;
    bottom: 3vw;
    font-size: var(--text-size);
  }

  section.touch div.contact_box .contact_container .contact_info i {
    padding: 3vw;
  }
  section.touch div.contact_box .contact_container .contact_info a span {
    font-size: var(--text-size);
  }
  section.touch div.Form {
    width: 90vw;
  }
  section.touch div.Form form {
    border-radius: 2vw;
    width: 100%;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    -ms-border-radius: 2vw;
    -o-border-radius: 2vw;
  }
  section.touch div.Form input,
  section.touch div.Form textarea {
    width: 80vw;
    font-size: 3.5vw;
    padding-left: 3vw;
  }

  section.touch div.Form input::placeholder,
  section.touch div.Form textarea ::placeholder {
    font-size: 3.5vw;
  }
  section.touch div.Form button.SubmitBtb {
    padding: 3vw 4vw;
  }
  /* Footer */
  footer {
    height: 35vh;
  }
  footer article.top-box {
    width: 100vw;
    height: 30vh;
    justify-content: space-evenly;
  }
  footer article.top-box ul {
    width: 40vw;
  }
  footer article.top-box ul li a {
    font-size: var(--text-size);
  }
  footer article.top-box ul li.Hadding {
    font-size: var(--text-size);
  }
  footer article.top-box div.contect-info {
    width: 38vw;
    height: 17vh;
    left: -4vw;
    /* bottom: 3.7vw; */
  }
  footer article.top-box div.contect-info h1 {
    font-size: var(--text-size);
  }
  footer article.top-box div.contect-info p {
    width: 100%;
  }
  footer article.top-box div.contect-info span {
    font-size: var(--text-size);
  }
  footer article.top-box div.map {
    display: none;
  }
  footer article.botton-box {
    width: 100vw;
    padding: 1vw 5vw;
    font-size: 3vw;
  }
}
@media only screen and (max-height: 600px) {
  section.home .img-box img {
    width: 88%;
  }
  section.why div.image img {
    width: 90%;
  }

  section.experience .line {
    position: absolute;
    height: 66vh;
    width: 0.2vw;
    background-color: var(--first-color);
    z-index: -5;
    left: 49.2vw;
    top: 10vw;
  }
}
