@import url(./utileti.css);
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  border: none;
}
html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--body-colo);
}
header.desktop-menu,
header.mobile-menu {
  width: 100%;
  height: 8vh;
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.desktop-menu .logo {
  font-size: 2vw;
  margin-left: 1vw;
  color: var(--title-color);
  cursor: default;
}
header.desktop-menu nav ul li {
  list-style: none;
}
header.desktop-menu nav {
  width: 50vw;
}
header.desktop-menu nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
}
header.desktop-menu nav ul li a {
  text-decoration: none;
  color: var(--title-color);
  font-size: 1.3vw;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
header.desktop-menu nav ul li a:hover {
  text-decoration: underline;
  color: var(--first-color);
  text-underline-offset: 1.5vh;
}
/*Mobile Header  CSS */

header.mobile-menu {
  display: none;
  background-color: #fff;
  height: 8vh;
  position: relative;
  color: var(--Black);
}
header.mobile-menu .logo {
  font-size: 6vw;
  margin-left: 2vw;
  color: var(--title-color);
}
.bar-icon {
  font-size: 7vw;
  background-color: transparent;
  margin-right: 3vw;
  color: var(--title-color);
}
.Cut-icon {
  position: absolute;
  top: 5vw;
  left: 5vw;
  font-size: 8vw;
  background-color: transparent;
}
header.mobile-menu nav {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40vh;
  padding: 8vh 0;
  display: none;
}
header.mobile-menu nav h1 {
  font-size: 6vw;
  color: var(--title-color);
}
header.mobile-menu nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header.mobile-menu nav ul li {
  list-style-type: none;
}
header.mobile-menu nav ul li a {
  font-size: 4vw;
  text-decoration: none;
  color: var(--text-color);
}
header.mobile-menu nav ul li a:hover {
  text-decoration: underline;
  color: var(--first-color);
  text-underline-offset: 1.5vh;
}
/* Home */
section.home {
  width: 90;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4vw;
}
section.home .title-box {
  width: 41vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
}
section.home h1 {
  font-size: 3vw;
  color: var(--title-color);
}
section.home h3 {
  font-size: 1.2vw;
  color: var(--text-color);
}
section.home p {
  text-wrap: wrap;
  text-align: justify;
  color: var(--text-color);
}
section.home button {
  background-color: var(--first-color);
  color: #fff;
  width: 12vw;
  height: 8vh;
  font-size: 1.3vw;
  /* font-weight: bold; */
  letter-spacing: 0.01vw;
  cursor: pointer;
  border-radius: 0.5vw;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}
section.home button:hover {
  background-color: var(--first-color-alt);
}
section.home button:active {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
}

section.home .img-box {
  width: 30vw;
  height: 54vh;
  background-color: var(--first-color-lighter);
  padding-top: 1vw;
  border-radius: 0.2vw;
  -webkit-border-radius: 0.2vw;
  -moz-border-radius: 0.2vw;
  -ms-border-radius: 0.2vw;
  -o-border-radius: 0.2vw;
}
section.home .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =====>>Services<<======= */
section.services {
  width: 92vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw 2vw;
}
section.services .title {
  width: 100%;
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5vh;
}
section.services .title .Hadding {
  margin-top: 0.5vw;
  font-size: 3vw;
  color: var(--title-color);
}
section.services .title p {
  text-align: center;
  font-size: 1.5vw;
  color: var(--text-color);
}
section.services div.Component {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  flex: 50vw 50vw;
  flex-wrap: wrap;
}
section.services div.box {
  cursor: default;
  position: relative;
  background-color: var(--container-color);
  width: 20vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  padding: 0 1.5vw;
  outline: 0.1vw solid var(--Gray);
  border-radius: 0.5vw;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.15),
    0 -0.2vw 0.4vw rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}
section.services div.box div.icon i {
  font-size: 2.5vw;
  color: var(--first-color-alt);
}
section.services div.box h2 {
  color: var(--title-color);
  font-size: 1.8vw;
}
section.services div.box a {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  text-decoration: none;
  color: var(--first-color-alt);
  font-size: 1.2vw;
}
section.services div.box a i {
  position: relative;
  top: 0.2vh;
}
/*===========>>>> Why css<============ */
section.why {
  width: 98vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vw;
  position: relative;
}
section.why div.image {
  width: 35vw;
  height: 40vh;
  position: relative;
  top: 1vw;
}
section.why div.image img {
  width: 100%;
}
section.why div.Box {
  width: 40vw;
  height: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
section.why div.Box h4 {
  font-size: 2vw;
  color: var(--text-color);
  position: relative;
  top: 0.5vw;
}
section.why div.Box h2 {
  font-size: 3vw;
  color: var(--title-color);
}
section.why div.Box p {
  text-align: justify;
  line-height: 3vh;
  color: var(--text-color);
}
section.why div.Box b {
  line-height: 5vh;
  cursor: pointer;
}
/* Eepericence */
section.experience {
  width: 98vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vw;
}
section.experience h1 {
  font-size: 2.5vw;
  text-decoration: underline;
  text-underline-offset: 2.5vw;
  color: var(--title-color);
}
section.experience div.box {
  width: 100%;
  height: 90%;
  display: grid;
  /* grid-template-columns: auto auto; */
  place-content: center;
  gap: 2vw;
  position: relative;
}
section.experience div.box span {
  width: 15vw;
  position: relative;
  display: inline-block;
  color: var(--text-color);
  /* background-color: var(--SkyBlue); */
  padding: 1vw 2vw;
}
section.experience div.box span:nth-child(even) {
  left: 12vw;
}
section.experience div.box span:nth-child(odd) {
  right: 11vw;
}
section.experience div.box span:nth-child(even)::after {
  content: "";
  border-radius: 50%;
  background-color: var(--first-color);
  padding: 0.5vw;
  position: absolute;
  top: 1.1vw;
  left: -2.7vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
section.experience div.box span:nth-child(odd)::after {
  content: "";
  border-radius: 50%;
  padding: 0.5vw;
  background-color: var(--first-color);
  position: absolute;
  top: 1.3vw;
  right: -2.3vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
section.experience .line {
  position: absolute;
  height: 62vh;
  width: 0.2vw;
  background-color: var(--first-color);
  z-index: -5;
  left: 49.2vw;
}
/* Touch */
section.touch {
  width: 98vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section.touch div.Form form {
  border-radius: 2vw;
  width: 45vw;
  height: 65vh;
  padding: 2vw;
  /* background-color: var(--SkyBlue); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}
section.touch div.Form h1 {
  color: var(--title-color);
}
section.touch div.Form h4 {
  position: relative;
  bottom: 0.5vw;
  margin-bottom: 0.2vw;
  font-size: 0.8rem;
  color: var(--text-color);
}
textarea,
input {
  outline: 0.15vw solid var(--title-color);
  color: var(--text-color);
  background-color: var(--input-color);
}
section.touch div.Form textarea {
  width: 30vw;
  height: 15vh;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-top: 1.5vw;
  font-size: 1.4vw;
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}
section.touch div.Form input {
  width: 30vw;
  height: 4vh;
  padding: 0.5vw;
  padding-left: 1vw;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}
section.touch div.image {
  width: 32vw;
  height: 55vh;
}
section.touch div.image img {
  width: 100%;
  height: 100%;
}
section.touch div.Form button.SubmitBtb {
  padding: 1.5vw 3vw;
  border-radius: 0.7vw;
  background-color: var(--first-color);
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 0.7vw;
  -moz-border-radius: 0.7vw;
  -ms-border-radius: 0.7vw;
  -o-border-radius: 0.7vw;
}
section.touch div.Form button.SubmitBtb:hover {
  background-color: var(--first-color-alt);
}
/* Footer */
footer {
  width: 98.55vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
}
footer article.top-box {
  height: 44vh;
  background-color: var(--first-color-lighter);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer article.top-box ul li {
  list-style-type: none;
  padding: 1vw 2vw;
  text-align: center;
}
footer article.top-box ul li a {
  text-decoration: none;
  font-size: 1.3vw;
  color: var(--text-color);
}
footer article.top-box ul li.Hadding {
  font-size: 1.7vw;
  color: var(--title-color);
}
footer article.top-box div.contect-info {
  position: relative;
  bottom: 1.8vw;
  display: grid;
  gap: 2vw;
  color: var(--text-color);
  cursor: default;
}
footer article.top-box div.contect-info h1 {
  font-weight: 400;
  color: var(--title-color);
}
footer article.top-box div.contect-info p {
  display: flex;
  gap: 2vw;
}
footer article.top-box div.contect-info p a {
  text-decoration: none;
  color: var(--text-color);
}
footer article.top-box div.map {
  width: 24vw;
  height: 30vh;
  background-color: var(--text-color);
}
footer article.botton-box {
  background-color: hsl(var(--hue-color), 55%, 75%);
  width: 94 0.55vw;

  height: 6vh;
  padding: 0.2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
}
