@font-face {
  font-family: "Lato1";
  src: url(../FontAwosome/Font/MyFont.ttf);
}
:root {
  --hue-color: 225;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --btn-bgcolor: hsl(var(--hue-color), 50%, 55%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --icon-colo: hsl(var(--hue-color), 50%, 20%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 25%, 30%);
  --text-color: hsl(var(--hue-color), 35%, 12%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --title-size: 3vw;
  --text-size: 1.4vw;
  --pra-size: 1.2vw;
}
header,
section,
footer {
  padding: 1vw 6vw;
  width: 100% !important;
}
section {
  height: 100vh;
}
i {
  color: var(--icon-colo) !important;
}
.StickyHeader {
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: hsl(var(--hue-color), 80%, 94%) !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.Btn {
  background-color: var(--btn-bgcolor);
  color: #fff;
  width: 13vw;
  height: 8vh;
  font-size: var(--pra-size);
  letter-spacing: 0.06vw;
  cursor: pointer;
  border-radius: 0.5vw;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}
